extends calendar-year.pug

block content
    - year = currentYear
    - var dd = 1

    mixin lookupEvent(mm, daydate)
        - var thisDate = new Date(year, mm-1, daydate)
        - var eventClass = ''
        if !events
            +dayNumber(daydate, thisDate.getDay()+1)
        else
            each event in events
                if event.eventDate && event.title
                    if (event.type == 'Birthday' || event.type == 'Anniversary')
                        if daydate == parseInt(event.eventDate.substr(6,2)) && mm == parseInt(event.eventDate.substr(4,2))
                            - eventClass = 'birthday'

                    else if event.type == ''
                        if parseInt(event.eventDate.substr(0,4)) == year
                            if daydate == parseInt(event.eventDate.substr(6,2)) && mm == parseInt(event.eventDate.substr(4,2))
                                - eventClass = 'event'
                    else
                        if parseInt(event.eventDate.substr(0,4)) == year
                            if daydate == parseInt(event.eventDate.substr(6,2)) && mm == parseInt(event.eventDate.substr(4,2))
                                - eventClass = 'event'

            span(class=eventClass)
                +dayNumber(daydate, thisDate.getDay()+1)

    mixin age(birthDate)
        - var today = new Date();
        - var birthDate = new Date(dateString);
        - var age = today.getFullYear() - birthDate.getFullYear();
        - var m = today.getMonth() - birthDate.getMonth();
        if (m < 0 || (m === 0 && today.getDate() < birthDate.getDate()))
            age--;

    mixin monthName(yy, mm)
        case mm
            when 1
                span.mmmm JANUARY
            when 2
                span.mmmm FEBRUARY
            when 3
                span.mmmm MARCH
            when 4
                span.mmmm APRIL
            when 5
                span.mmmm MAY
            when 6
                span.mmmm JUNE
            when 7
                span.mmmm JULY
            when 8
                span.mmmm AUGUST
            when 9
                span.mmmm SEPTEMBER
            when 10
                span.mmmm OCTOBER
            when 11
                span.mmmm NOVEMBER
            when 12
                span.mmmm DECEMBER


    mixin dayName(dd)
        case dd
            when 1
                span Sun
            when 2
                span Mon
            when 3
                span Tue
            when 4
                span Wed
            when 5
                span Thu
            when 6
                span Fri
            when 7
                span Sat

    mixin shortDayName(dd)
        case dd
            when 1
                span Su
            when 2
                span M
            when 3
                span Tu
            when 4
                span W
            when 5
                span Th
            when 6
                span F
            when 7
                span Sa


    mixin dayNumber(dd, wd)
        case wd
            when 1
                span.weekend= dd 
            when 2
                span= dd
            when 3
                span= dd
            when 4
                span= dd
            when 5
                span= dd
            when 6
                span= dd
            when 7
                span.weekend= dd


    mixin previewMonth(yy, mm)
        - var year = mm < 1 ? yy-1 : yy;
        - var month = mm < 1 ? 12 : mm;
        - var year = mm > 12 ? yy+1 : year;
        - var month = mm > 12 ? 1 : month;
        - var firstDay = new Date(year, month-1, 1, 12)
        - var lastDay = new Date(year, month, 0, 12)
        - var weekDay = firstDay.getDay()
        - var dayms = (1000*60*60*24) //+(1000*7200)
        - var weekStart = new Date()
        - weekStart.setTime(firstDay.getTime()-(dayms*weekDay))

        div.previewmonth
            - var thisDay = new Date()
            - thisDay.setTime(weekStart.getTime())
            div.month-grid
                div.smallmonthname
                    +monthName(year, month)

                div.week2
                    each weekday in [1,2,3,4,5,6,7]
                        div.weekday.weekday-name
                            +shortDayName(weekday)

                while (thisDay.getTime() <= lastDay.getTime())
                    div.week
                        each weekday in [1,2,3,4,5,6,7]
                            - var weekdayClass = 'weekday weekday-day'
                            - var nonMonth = (mm != thisDay.getMonth()+1)

                            if weekday == 1 || weekday == 7
                                - weekdayClass = 'weekday weekend'

                            div(class=weekdayClass)
                                if (!nonMonth)
                                    +lookupEvent(month, thisDay.getDate())

                            - thisDay.setTime(thisDay.getTime()+dayms)


    div.calendar
        div.yearTitle
            =year

        div.quarter
            each month in [1,2,3]
                +previewMonth(year, month)

        div.quarter
            each month in [4,5,6]
                +previewMonth(year, month)

        div.quarter
            each month in [7,8,9]
                +previewMonth(year, month)

        div.quarter
            each month in [10,11,12]
                +previewMonth(year, month)

        div.pageBreak



